/***************************/
/* Ultimate Meme Generator */
/***************************/

.gallery-container,
.editor-container {
    background-color: #f9f9f9;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    min-height: 200px;
}

.gallery-container img {
    border: 2px solid transparent;
    cursor: pointer;
    height: 150px;
    object-fit: cover;
    width: 150px;
}

.gallery-container img:hover {
    border-color: #ff8c00;
}